@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

main{
    
    font-family: "Overpass", sans-serif;
    background-color: hsl(216, 12%, 8%);
    padding: 25px;
    border-radius: 24px;
    width: 20vw;

}

.rating{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.star-container{
    background-color: hsl(213, 19%, 18%);
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    border-radius: 100%;
    display: grid;
    place-content: center;
    margin-bottom: 20px;
}

P{
    font-size: 15px;
    color: hsl(217, 12%, 63%);
    margin: 0;
}

h1{
    margin: 0;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button{
    background-color: hsl(25, 97%, 53%);
    border-radius: 40px;
    font-size: 15px;
    font-weight: 700;
    padding: 15px  0 15px 0;
    border: 0;
    

}

button:hover{
    background-color: hsl(0, 100%, 100%);
    color: hsl(216, 12%, 8%);;
}


.no-display{
    display: none;
}


@media screen and (max-width: 600px) {
    main{
        width: 70vw;
    }
    
    
    
}